html, body {
  overflow: hidden;
  display: block;
}

.background-color {
  background-color: white;
}

.main-header {
  text-shadow: 2px 2px black;
  font-size: 10vmax;
  color: grey;
}

.circle-wrapper {
  margin-left: -70px !important;
}

.circle {
  background-color: red;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  box-shadow: 60px 0 0 0 #3531ff;
  margin: auto;
}

.container-fluid {
  width: 100%;
}

.text-center {
  text-align:center;
}

.top-buffer-medium {
  margin-top:20px;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-small {
  width: 10em;
}

.full-screen {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.error {
  color:red;
}

.inline {
  display: inline-block;
}

.game-menu-button {
  top: 0 !important;
  border-radius: 0 !important;
}

#screen_connected {
  display: none;
}

#screen_game {
  display: none;
}

#game_canvas_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game_input_area {
  position:relative;
}
