html, body {
  overflow: hidden;
  display: block;
  height: 100%;
  font-family: "Calibri";
}

.text-center {
  text-align:center;
}

.text-left {
  text-align:left;
}

.height-full {
    height: 100%
}

.width-full {
  width: 100%;
}

.width-auto {
  width: auto;
  overflow: hidden;
}

.full-screen {
  height:100%;
  width:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.menu-screen {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    height: calc(100% - 20px);
}

.text-field {
    margin: 0;
    padding: 0;
    border: 1px solid #6e6e6e;
    box-sizing: border-box;
    background-color : #f1f1f1;
    color: #6e6e6e;
}

.text-field-tabbed {
    margin: 0;
    padding: 0;
    border: 1px;
    border-style: solid;
    border-top-color: #f1f1f1;
    border-left-color: #6e6e6e;
    border-right-color: #6e6e6e;
    border-bottom-color: #6e6e6e;
    box-sizing: border-box;
    background-color : #f1f1f1;
    color: #6e6e6e;
}

.text-l {
    font-family: "Calibri";
    font-size: 1.75em;
}

.text-m {
    font-family: "Calibri";
    font-size: 1.25em;
}

.button {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    background-color: #4486f6;
    border-top-color: #a0bae9;
    border-left-color: #a0bae9;
    border-right-color: #235dbe;
    border-bottom-color: #235dbe;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.button-danger {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    background-color: #d84a38;
    border-top-color: #eb9f97;
    border-left-color: #eb9f97;
    border-right-color: #8b281b;
    border-bottom-color: #8b281b;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
}

.button:disabled {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    background-color: #4486f6;
    border-top-color: #a0bae9;
    border-left-color: #a0bae9;
    border-right-color: #235dbe;
    border-bottom-color: #235dbe;
    color: #a0bae9;
    text-shadow: 0px 0px 0px #000;
}

.disabled {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    background-color: #4486f6;
    border-top-color: #a0bae9;
    border-left-color: #a0bae9;
    border-right-color: #235dbe;
    border-bottom-color: #235dbe;
    color: #a0bae9;
    text-shadow: 0px 0px 0px #000;
}

.button-tab {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    border-style: solid;
    background-color: #d8d8d8;
    border-top-color: #6e6e6e;
    border-left-color: #6e6e6e;
    border-right-color: #6e6e6e;
    border-bottom-color: #6e6e6e;
    color: #6e6e6e;
}

.button-tab-selected {
    margin: 0;
    padding: 0 10px 0 10px;
    border-width: 1px;
    border-style: solid;
    background-color: #f1f1f1;
    border-top-color: #6e6e6e;
    border-left-color: #6e6e6e;
    border-right-color: #6e6e6e;
    border-bottom-color: #f1f1f1;
    color: #6e6e6e;
}

.icon-edit {
    background:url(edit_icon.svg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 37px;
    height: 37px;
}

.icon-close {
    background:url(close_icon.svg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 37px;
    height: 37px;
}

.icon-chat {
    background:url(chat_icon.svg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 37px;
    height: 37px;
}

.icon-chat-notify {
    background:url(chat_notification_icon.svg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 37px;
    height: 37px;
}

.top-buffer-s {
    margin-top:10px;
}

.top-buffer-m {
    margin-top:30px;
}

.top-buffer-l {
    margin-top:60px;
}

.bottom-buffer-s {
    margin-bottom:10px;
}

.bottom-buffer-m {
    margin-bottom:30px;
}

.bottom-buffer-l {
    margin-bottom:60px;
}

.left-buffer-s {
    margin-left:10px;
}

.right-buffer-s {
    margin-left:10px;
}

.side-buffer-s {
    margin-left:10px;
    margin-right:10px;
}

.side-buffer-m {
    margin-left:30px;
    margin-right:30px;
}

.side-buffer-l {
    margin-left:60px;
    margin-right:60px;
}

.offset-thin {
    margin: 4px;
}

.subcontainer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.tablecontainer {
    position: absolute;
    top: 60px;
    bottom: 0;
    overflow-x: auto;
    overflow-y: scroll;
}

.tablecontainer:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.strech-h {
    width: 100%;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.width-auto {
    width: auto;
}

.width-70 {
    width: 70%;
}

.width-75 {
    width: 75%;
}

.width-90 {
    width: 90%;
}

.width-45 {
    width: 45%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.default-square {
    width: 35px;
    height: 35px;
}

.default-rect {
    width: 70px;
    height: 35px;
}

.dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-row {
    height: 100%;
    margin: auto;
    max-width: 350px;
}

.dialog-window {
    position: relative;
    max-height: calc(100% - 30px);
    margin: 15px;
    background-color: white;
    border: 1px solid #b8b8b8;
    color: #6e6e6e;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.scrollable {
    overflow: scroll;
}

.table {
    border-collapse: collapse;
    background-color: #f1f1f1;
}

.table tr td {
    width: 100%;
    text-align:left;
    border: 1px solid #6e6e6e;
}

.table td {
    width: 50%;
}

#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#screen_game {
  display: none;
}

#game_canvas_container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#game_input_area {
  position:relative;
}

#game_toolbar {
    position: absolute;
    z-index: 100;
    width: 100%;
}

#connect_menu {
    position: relative;
}

#tab_filler {
    border: 1px;
    border-style: solid;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-bottom-color: #6e6e6e;
}
